@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  width: 100%;
  pointer-events: none;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 64px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR ↓

*/

nav {
  display: flex;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-size: 40px;
  font-weight: 800;
}

.nav__logo--img {
  height: 60px;
  width: 60px;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px;
  padding-bottom: 8px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US ↓

*/

header .row {
  display: flex;
  justify-content: space-between;
}

.row .header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__text--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
}

.header__description {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header__description--title {
  font-size: 48px;
}

.header__description--para {
font-size: 24px;
  margin: 16px 0;
  max-width: 500px;
}

.header__email--input {
  padding: 16px 24px;
  border: 2px solid rgb(229, 231,235);
  border-radius: 50px;
  font-size: 16px;
  width: 100%;
  height: 68px;
  position: absolute;
  z-index: 1;
}

.header__email--btn {
  margin: 8px;
  padding: 16px 32px;
  background-color: #6415ff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.header__img--wrapper {
 width: 55%;
}

.header__email {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: flex-end;
  height: 68px;
}

.header__customers--title {
  margin: 64px 0px 0px 0px;
}

.header__customers {
  width: 400px;
  margin-top: 16px 0px 0px;
  padding: 0px 64px 0px 0px;
}

/* 

FEATURES ↓

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#features .section__title,
#pricing .section__title {
  text-align: center;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

#features {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
  align-items: flex-start;
  padding: 32px 24px;
}

.feature__img--wrapper {
  display: flex;
  padding: 20px;
  border: 1px solid #e5e7eb;
  border-radius: 500px;
}

.fearure__img {
  width: 24px;
  height: 24px;
}

.feature__text {
  margin-top: 8px;
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  font-size: 16px;
  max-width: calc(634px / 3);
  color: rgb(124, 139, 161);
  line-height: 2;
  font-weight: 500;
}

.features__blob {
  transform: translateX(96px) translateY(192px) scaleX(1) scaleY(1);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 16rem;
  opacity: 0.25;
  padding: 16px;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__tag {
  text-align: center;
  color: #6415ff;
  padding-bottom: 16px;
  font-size: 16px;
}

.section__title {
  text-align: center;
  padding-top: 16px;
  font-size: 48px;
  font-weight: 800;
}

.section__para {
  text-align: center;
  color: #7c8ba1;
  padding-top: 16px;
  font-size: 18px;
  font-weight: 500;
  max-width: 600px;
}

/* 

QUALITY WORK ↓

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section__tag {
  text-align: left;
  color: #6415ff;
  font-weight: 700;
  font-size: 16px;
}

.section__title {
  text-align: left;
  font-weight: 900;
  font-size: 48px;
}

.section__para {
font-size: 18px;
text-align: left;
}

quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#quality .section__title,
#values .section__title {
  line-height: 1.25;
}
#quality .btn {
  margin-top: 32px;
  padding: 16px 32px;
  background-color: #6415ff;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
.quality__description {
  max-width: 576px;
  margin-right: 64px;
}
.quality__description,
.quality__img--wrapper {
  width: 50%;
}
.quality__img--wrapper {
  border-radius: 4px;
  border: 1px solid rgb(229, 231, 235);
  position: relative;
  margin: 0 56px;
  z-index: 2;
  display: flex;
}
.quality__grid {
  transform: translateX(50%) translateY(50%) scaleX(1) scaleY(1);
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  fill: rgb(100, 21, 255);
  --tw-text-opacity: 1;
  color: rgba(100, 21, 255, var(--tw-text-opacity));
  z-index: 0;
  display: block;
}
.quality__img {
  z-index: 1;
}

/* 

STEPS ↓

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

VALUES ↓

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING ↓

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS ↓

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION ↓

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER ↓

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS ↓

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
